<!DOCTYPE html>
<html>

<head>
    <style>
        table {
            border-collapse: collapse;
            width: 50%;
        }

        th,
        td {
            padding: 8px;
            text-align: left;
            border-bottom: 1px solid #ddd;
        }

        .sub {
            border-collapse: collapse;
            width: 100%;
        }
    </style>
</head>

<body>
    <h4>Hi {{this.fullname}},</h4>

    <p>{{this.otp}} is the OTP to {{this.message}}. This OTP will expire in another 10 minutes. Please do not share it with anyone.</p>
    <p>In case you have any queries / clarifications, please contact us,</p>
    <p>+91 88920 72665</p>
    <p>or visit us at</p>
    <p> <a href="www.signvisionsolutions.com">www.signvisionsolutions.com</a></p>
    <p>Sincerely,</p>
    <p>Sign Vision Solutions Pvt Ltd</p>
</body>

</html>