<!DOCTYPE html>
<html>

<head>
    <style>
        table {
            border-collapse: collapse;
            width: 50%;
        }

        th,
        td {
            padding: 8px;
            text-align: left;
            border-bottom: 1px solid #ddd;
        }

        .sub {
            border-collapse: collapse;
            width: 100%;
        }
    </style>
</head>

<body>

    <div>
        <p> <strong>Hi {{this.fullname}},</strong></p>
        <p> <strong> Greetings from Get2Basket</strong></p>
    </div>
    <div>
        <p> Your login credentials for get2Basket application access are as follows,</p>
        <h2>Login Details</h2>
        <table class="sub">
            <tr>
                <th>LOGIN ID</th>
                <th>PASSWORD</th>
                <!-- <th>WEBSITE</th> -->
            </tr>
            <tr>
                <td>{{this.username}}</td>
                <td>{{this.password}}</td>
                <!-- <td>www.neerwash.com</td> -->
            </tr>
        </table>

        <!-- <p>For any IT/Admin related quires you may contact </p> -->
        <p>For any product related queries <a href="www.signvisionsolutions.com">www.signvisionsolutions.com</a> </p>
    </div>
</body>

</html>